@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset and Custom Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Inter", sans-serif !important;
  scroll-behavior: smooth;
  width: 100%;
  scroll-padding-top: 8rem;
  min-height: 100vh;
  height: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.custom {
  background-image: url("../public/assets/sideBarImage.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(255, 102, 16, 0.9); 
  background-repeat: no-repeat;
}

