@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset and Custom Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Inter", sans-serif !important;
  scroll-behavior: smooth;
  width: 100%;
  scroll-padding-top: 8rem;
  min-height: 100vh;
  height: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.custom {
  margin-top: 2px;
  margin-bottom: 2px;
}
